<div class="aside">
  <h2 class="aside__title">Páises</h2>

  <ul class="aside__ul">
    <!-- <li
      class="aside__li"
      routerLink="home"
      routerLinkActive="aside__li--active"
    >
      Home page
    </li>
    <li
      class="aside__li"
      routerLink="about"
      routerLinkActive="aside__li--active"
    >
      About us
    </li>
    <li
      class="aside__li"
      routerLink="contact"
      routerLinkActive="aside__li--active"
    >
      Contact
    </li> -->
    <li
      class="aside__li"
      routerLink="countries/by-capital"
      routerLinkActive="aside__li--active"
    >
      Por capital
    </li>
    <li
      class="aside__li"
      routerLink="countries/by-country"
      routerLinkActive="aside__li--active"
    >
      Por País
    </li>
    <li
      class="aside__li"
      routerLink="countries/by-region"
      routerLinkActive="aside__li--active"
    >
      Por Región
    </li>
  </ul>
</div>
