.country {
  padding: 1em;

  display: flex;
  flex-direction: column;
  row-gap: 2em;
  &__title {
    padding-bottom: 0.2em;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0.0625rem solid #22222279;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    &-item {
      padding: 0.3em;
      border: 0.0625rem solid #070707;
      border-radius: 0.3em;
      cursor: pointer;
    }
    &-item--selected {
      background-color: rgba(90, 90, 255, 0.842);
      color: #fff;
      transition: all 0.3s ease;
    }
  }
}
