.wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media screen and (min-width: 1100px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .outlet {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
}
