<section class="country">
  <h2 class="country__title">Por Capital</h2>

  <shared-search-box
    placeholder="buscar por capital"
    [initialValue]="initialValue"
    (onDebouncer)="searchByCapital($event)"
  ></shared-search-box>

  <!--LOADER-->
  <div class="results">
    <div class="loader" *ngIf="isLoading; else isNotLoading">
      <app-loader></app-loader>
    </div>

    <ng-template #isNotLoading>
      <countries-table [countries]="countries"></countries-table>
    </ng-template>
  </div>
</section>
